@import url("https://use.typekit.net/xrh3pym.css");

@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-blue: #0054ff;
  --color-blue-50: #aabdff6b;
  --color-yellow: #DAD53C;
  --color-yellow-50: #DAD53C88;
  --color-khaki: #665c11;
  --color-khaki-50: #665c1188;
  --color-white: #FFFFFF;
  --color-white-off: #BBBBBB;
  --color-black: #111111;
  --color-gray-100: #898989;
  --color-gray-100-10: rgba(230, 230, 230, 0.6);
  --color-gray-200: #4E4E4E;
  --color-gray-200-20: rgba(30, 30, 30, 0.7);

  --color-text: var(--color-gray-100);
  --color-text-highlight: var(--color-black);
  --color-background: var(--color-white);
  --color-primary: var(--color-blue);
  --color-secondary: var(--color-blue-50);
  --color-grayish: var(--color-gray-100-10);
  --color-highlight: var(--color-black);
  --color-heading: var(--color-gray-200);
  --color-cursor: var(--color-white);

  --text-base: 13px;

  --spacing-*: initial;
  --spacing-1: 2px;
  --spacing-2: 5px;
  --spacing-3: 10px;
  --spacing-4: 15px;
  --spacing-5: 20px;
  --spacing-6: 30px;
  --spacing-7: 60px;
  --spacing-8: 100px;

  --animate-blink: blink 1s infinite steps(1);

  --font-mono: "bakemono-variable", sans-serif;
  --font-serif: "sway-variable", serif;

  --layout-side: var(--spacing-8);

}

@layer base {
  * {
    font-size: var(--text-base);
    font-family: var(--font-mono);
    font-weight: 300;
    /* letter-spacing: 0.03em; */
    color: var(--color-text);
    font-weight: 300;
    font-variation-settings: "MONO" 1000;
    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      border-color 0.3s ease,
      fill 0.3s ease,
      stroke 0.3s ease;
  }

  body {
    @apply bg-background;


  }

  /* CURSOR */

  html {
    cursor: none !important;
  }

  * {
    cursor: none !important;
  }

  *:hover {
    cursor: none !important;
  }

  a {
    cursor: none !important;
  }

  a,
  a:hover,
  a:active,
  a:focus,
  button,
  button:hover,
  button:focus,
  button:active {
    cursor: none !important;
  }

  .customCursor {
    will-change: transform;
    pointer-events: none;
    transform: translate3d(0, 0, 0);
  }

  ::selection {
    background-color: var(--color-highlight);
    color: var(--color-gray-100);
  }



  .dark {
    --color-yellow: #FFEE71;
    --color-khaki: #665C11;
    --color-khaki-50: #544c0ea1;
    --color-text: var(--color-gray-100);
    --color-text-highlight: var(--color-white);
    --color-background: var(--color-black);
    --color-primary: var(--color-yellow);
    --color-secondary: var(--color-khaki-50);
    --color-grayish: var(--color-gray-200-20);
    --color-highlight: var(--color-white);
    --color-heading: var(--color-primary);
    --color-cursor: var(--color-white);
  }

  .no-scrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
  }

  nav>* {
    height: 43px;
    display: flex;
    align-items: center;
  }

  .c {
    color: var(--color-secondary) !important;
  }

  .hoverFlicker:hover {
    animation: opacityHover 0.1s linear infinite;
  }

  @keyframes opacityHover {
    0% {
      opacity: 1;
    }

    25% {
      opacity: 0.2;
    }

    50% {
      opacity: 1;
    }

    75% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }
}

@layer components {


  @keyframes blink {

    0%,
    50% {
      opacity: 1;
    }

    50%,
    100% {
      opacity: 0;
    }
  }



  /* For blinking cursor in terminal */
  .terminal .line:last-of-type .output::after {
    content: "";
    @apply inline-block bg-primary ml-[0.2em] animate-blink translate-y-1;
    width: 0.5em;
    height: 0.8em;
  }

  .terminal .line {
    @apply grid grid-cols-[auto_1fr] gap-x-2 w-full;
  }


  .terminal .static,
  .terminal .output {
    @apply text-secondary;
  }

  .terminal .output.active {
    @apply text-primary;
  }

  .terminal .line:last-of-type .static,
  .terminal .line:last-of-type .output {
    @apply text-primary;
  }

  .heading {
    font-variation-settings: "wght" 0 "CNST" 300;
    animation: variableAnimation 5s linear infinite;
  }

  .heading * {
    animation: variableAnimation 10s linear infinite;
    animation-delay: -2s;

  }

  @keyframes variableAnimation {
    0% {
      font-variation-settings: "CNST" 0, "wght" 300;
    }

    25% {
      font-variation-settings: "CNST" 50, "wght" 400;
    }

    50% {
      font-variation-settings: "CNST" 100, "wght" 300;
    }

    75% {
      font-variation-settings: "CNST" 50, "wght" 900;
    }

    100% {
      font-variation-settings: "CNST" 0, "wght" 300;
    }

  }

}